<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- IMPORTANT: It's a path where procdump can be found - you can get it from 
          http://technet.microsoft.com/en-us/sysinternals/dd996900.aspx -->
    <!--<add key="ProcdumpPath" value="c:\tools"/>-->
    <!-- In this directory FrontMan will create it's own log folders
          with format: yyyyMMdd_HHmmss.fff_app.exe, by default it's your temporary folder\frontman -->
    <!--<add key="OutputDirectory" value="c:\temp\" />-->
    <!-- Options that should be passed from frontman to procdump, by default it's -ma -e - so 
         create a full memory dump on unhandled exception -->
    <!--<add key="ProcdumpDumpOptions" value="-ma -e" />-->
  </appSettings>
</configuration>